<label for="editName">Wprowadź imię: </label>

<form [formGroup]="loginForm"> 
    <input type="text" formControlName="name" id="name" required/>
    <div *ngIf="loginForm.controls['name'].invalid && (loginForm.controls['name'].dirty || loginForm.controls['name'].touched)" class="alert">
        <div *ngIf="loginForm.controls['name'].errors?.required">
            Proszę wpisać imię
        </div>
        <div *ngIf="loginForm.controls['name'].errors?.maxlength">
            Imię nie może byc dłuższe niz 8 znaków
        </div>
    </div>
    <button [disabled]="loginForm.invalid" (click)="login()">Zaloguj</button>
</form>