<h2>Ciastka</h2>
<form [formGroup]="addForm" (ngSubmit)="onAddCookie()"> 
    <div class="form-group">
        <label for="name">Nazwa ciastka: </label>
        <input type="text" formControlName="name" id="name" required>
        <div *ngIf="addForm.controls['name'].invalid && (addForm.controls['name'].dirty || addForm.controls['name'].touched)" class="alert">
            <div *ngIf="addForm.controls['name'].errors?.required">
                Proszę wpisać imię
            </div>
            <div *ngIf="addForm.controls['name'].errors?.pattern">
                Imię może się składać tylko z liter i liczb
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="quantity">Liczba ciastek: </label>
        <input type="number" formControlName="quantity" id="quantity" required>
        <div *ngIf="addForm.controls['quantity'].invalid && (addForm.controls['quantity'].dirty || addForm.controls['quantity'].touched)" class="alert">
            <div *ngIf="addForm.controls['quantity'].errors?.required">
                Proszę wpisać liczbę ciastek
            </div>
            <div *ngIf="addForm.controls['quantity'].errors?.min">
                Ciastek nie może być mniej niż 1
            </div>
            <div *ngIf="addForm.controls['quantity'].errors?.max">
                Ciastek nie może być mniej więcej niż 18
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="bakingDate">Przewidywana data upieczenia: </label>
        <input type="date" formControlName="bakingDate" id="bakingDate" required>
    </div>
    <div class="form-group">
        <label for="veganFriendly">Odpowiednie dla wegan: </label>
        <input type="checkbox" formControlName="veganFriendly" id="veganFriendly">
    </div>
    <div class="form-group">
        <label for="file">Zdjęcie</label>
        <input type="file" class="form-control" id="file" formControlName="file" (change)="onImageChange($event)">
    </div>
    <div class="preview" *ngIf="imgSrc">
        <img [src]="imgSrc" style="width:400px; height:250px">
    </div>
    <button [disabled]="addForm.invalid" type="submit">Dodaj ciastko</button>
</form>